.mainSection {
    /*background-color: #64ad6a;*/
    grid-area: MAIN;
    display: flex;
    height: 1000px;
    //background-image: linear-gradient(to bottom, goldenrod, rgb(231, 197, 109);
    //background-color: rgb(231, 197, 109);
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: bold;

    & div {
        font-weight: bold;
    }

    & img {
        width: 100px;
        align-self: flex-end;
    }
}