@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #64ad6a;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

.container {
  display: -ms-grid;
  display: grid;
  max-width: 1300px;
  margin: auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
      grid-template-areas: "NAV" "MAIN"  "FOOTER";
}

.nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: NAV;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuItems {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menuItems div {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.87rem;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  position: relative;
}

.menuItems div:hover {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.menuItems div:hover::before {
  opacity: 1;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 4.5rem;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

.cta {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ctaButton {
  font-family: 'Lobster', cursive;
  background: black;
  padding: 0.6rem 1.25rem;
  border-radius: 50px;
  color: #64ad6a;
  font-weight: 600;
  font-size: 1.2em;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.mainSection {
  /*background-color: #64ad6a;*/
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: MAIN;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: italic;
  font-weight: bold;
}

.mainSection div {
  font-weight: bold;
}

.mainSection img {
  width: 100px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: FOOTER;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  background-color: black;
  font-size: 0.7rem;
  border-radius: 10px 10px 0px 0px;
}

.footer__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  color: #64ad6a;
}

.footer__slice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #cf4545;
  height: 4px;
}
/*# sourceMappingURL=main.css.map */