.mainSection {
    /*background-color: #64ad6a;*/
    grid-area: MAIN;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-style: italic;
    font-weight: bold;

    & div {
        font-weight: bold;
    }

    & span {
        font-size: 0.6em;
    }

    & img {
        width: 100px;
    }

    &__core {
        /*background-color: aliceblue;*/
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;

        &__discs {
            display: flex;
            justify-content: space-around;
            width: 100%;
            
            & div {
                border: solid 3em black;
                width: 12rem;
                height: 12rem;
                border-radius: 50%;
                transition: $linkTransition ease-in-out;
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }

            & div:nth-child(1) {
                background-color: rgb(160, 222, 135);
            }

            & div:nth-child(2) {
                background-color: rgb(230, 160, 236);
            }

            & div:nth-child(3) {
                background-color: rgb(133, 138, 184);
            }            

            & div:nth-child(4) {
                background-color: rgb(236, 69, 91);
            }

            & div:nth-child(5) {
                background: linear-gradient(45deg, #dca 12%, transparent 0, transparent 88%, #dca 0),
                linear-gradient(135deg, transparent 37%, #a85 0, #a85 63%, transparent 0),
                linear-gradient(45deg, transparent 37%, #dca 0, #dca 63%, transparent 0) #753;
                background-size: 17px 17px;
            }                        

        }
    }

    &__decoration_end {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}