.footer {
    grid-area: FOOTER;
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: black;     
    font-size: 0.75rem;
    border-radius: 10px 10px 0px 0px;

    & li {
        cursor: pointer;

        transition: $linkTransition ease-in-out;

        &:hover {
            color: $washedRed;
        }
    }

    &__content {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-transform: capitalize;
        color: $mainColor;
    } 

    &__slice {  
        display: flex;
        justify-content: space-between;
        background-color: $washedRed;
        height: 4px;
    }
}