.nav {
    grid-area: NAV;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    align-items: center;
    border-bottom: dotted 1px black;
    flex-grow: 1;
}

.menuItems {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;

    & li:not(:last-child) {
        padding-right: 25px;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 0.87rem;
        transition: $linkTransition ease-in-out;
        position: relative;
    }

    & li:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0; 
        border-radius: 50px;     
        bottom: -30px;
        background: $washedRed;
        opacity: 0;
        transition: opacity $linkTransition ease-in-out;
        height: 10px;
        width: 10px;
    }

    & li:hover:not(:last-child) {
        /*text-shadow: 0 0 5px rgba(0,0,0,0.5);*/
        color: $washedRed;
        &::before {        
            opacity: 0.7;
          }
    }
}

.hamburger {
    > span {
        width: 24px;
        height: 2px;
        background-color: black;
        display: block;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 3px;
        }
    }
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 4.5rem;
    cursor: pointer;
    transition: $linkTransition ease-in-out;

    &:hover {
        transform: rotate(-10deg);
        //color: transparent;
        text-shadow: 0 0 5px $washedRed;
    }
}

.cta {
    font-family: 'Lobster', cursive;
    background: black;
    padding: 0.6rem 1.25rem;
    border-radius: 50px;
    color: $mainColor;
    font-weight: 600;
    font-size: 1.2em;
    transition: $linkTransition ease-in-out;

    &:hover {
        color: $washedRed;
    }
}