/* colours */
$shellPink: #eeaede;
$golden: goldenrod;
$sonicBlue: #68a3ce;
$muddBrown: rgb(165, 164, 83);
$mossGreen: #64ad6a;
$navyBlue: rgb(73, 141, 190);
$teal: #017e7f;
$washedRed: rgb(207, 69, 69);

$mainColor: $golden;

/* transitions */
$linkTransition: 200ms