@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/* colours */
/* transitions */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #64ad6a;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

.container {
  display: -ms-grid;
  display: grid;
  max-width: 1300px;
  margin: auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
      grid-template-areas: "NAV" "MAIN"  "FOOTER";
}

.nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: NAV;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: dotted 1px black;
}

.menuItems {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menuItems div {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.87rem;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  position: relative;
}

.menuItems div:before {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  left: 0;
  right: 0;
  border-radius: 5px;
  bottom: -30px;
  background: #cf4545;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.menuItems div:hover {
  /*text-shadow: 0 0 5px rgba(0,0,0,0.5);*/
  color: #cf4545;
}

.menuItems div:hover::before {
  opacity: 0.7;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 4.5rem;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  cursor: pointer;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.logo:hover {
  color: transparent;
  text-shadow: 0 0 5px #cf4545;
}

.cta {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ctaButton {
  font-family: 'Lobster', cursive;
  background: black;
  padding: 0.6rem 1.25rem;
  border-radius: 50px;
  color: #64ad6a;
  font-weight: 600;
  font-size: 1.2em;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.ctaButton:hover {
  color: #cf4545;
}

.mainSection {
  /*background-color: #64ad6a;*/
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: MAIN;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-style: italic;
  font-weight: bold;
}

.mainSection div {
  font-weight: bold;
}

.mainSection span {
  font-size: 0.6em;
}

.mainSection img {
  width: 100px;
}

.mainSection__core {
  /*background-color: aliceblue;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
}

.mainSection__core__discs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.mainSection__core__discs div {
  border: solid 3em black;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.mainSection__core__discs div:hover {
  opacity: 0.7;
}

.mainSection__core__discs div:nth-child(1) {
  background-color: #a0de87;
}

.mainSection__core__discs div:nth-child(2) {
  background-color: #e6a0ec;
}

.mainSection__core__discs div:nth-child(3) {
  background-color: #858ab8;
}

.mainSection__core__discs div:nth-child(4) {
  background-color: #ec455b;
}

.mainSection__core__discs div:nth-child(5) {
  background-color: burlywood;
}

.mainSection__decoration_end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: FOOTER;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  background-color: black;
  font-size: 0.75rem;
  border-radius: 10px 10px 0px 0px;
}

.footer li {
  cursor: pointer;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.footer li:hover {
  color: #cf4545;
}

.footer__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  color: #64ad6a;
}

.footer__slice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #cf4545;
  height: 4px;
}
/*# sourceMappingURL=main.css.map */